* {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

body {
    background-color: #e7e7e7;
    font-family: "inria sans";
}

/* Header Part */
header nav {
    width: 100%;
    height: 50px;
    background-color: #BDD9F2;
}

a {
    text-decoration: none;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fff;
    position: absolute;
    right: 5%;
    top: 10px;
    display: none;
}

#menu.open::before {
    content: "x";
    color: #fff;
}

.page-title {
    background-color: #1D2C40;
    text-align: center;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 30px
}

.page-title img {
    box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
}

.menu {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-decoration: none;
    height: 100%;
}

.menu a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    width: 100%;
    text-align: center;
}

.menu a:hover {
    background-color: #7597c488;
    transition: 0.5s;
    font-size: 1.8rem;
}


/* Content Part */

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 60px 0;
}

.first-pag {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 3%;
}

.title {
    background-color: #3D5473;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.title h2 {
    color: #fff;
    padding-left: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.course-work {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #1D2C40;
    border-radius: 5px;
    background-color: #BDD9F2;
}

.course-worke h2 {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}



.web-resources {
    display: flex;
    margin: 5%;
    align-items: center;
    justify-content: center;
}


h4 {
    font-size: 1.7rem;
    text-align: center;
    font-weight: 700;
}



.my-country {
    width: 25%;
    height: auto;
    border: 1px solid #1D2C40;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}



.my-country img {
    margin: 0 auto;
    padding-top: 15px;
    width: 80%;

}

.resources {
    width: 100%;
    height: 80%;
    display: grid;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.resources ul {
    padding-left: 100px;
    width: 100%;
    display: grid;
}

.resources ul li {
    margin: 20px 0;
    font-size: 1.5rem;
    text-decoration: none;
}

/*Second Page*/
.second-pag {
    width: 90%;
    margin: 80px auto 0 auto;

}

.certificate-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 240px;
    border: 1px solid #1D2C40;
    border-radius: 5px;
}

.certificate-content {
    height: 100%;
}

.first-part-courses {
    height: 70px;
    display: flex;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}

.first-part-courses button {
    padding: 10px 5px;
    width: 120px;
    text-align: center;
    border: 1px solid #1D2C40;
    border-radius: 5px;
    color: #fff;
    background-color: #1D2C40;
    cursor: pointer;
}

.second-part-courses {
    height: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.second-part-courses button {
    padding: 10px 5px;
    width: 90%;
    text-align: center;
    border: 1px solid #1D2C40;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #1D2C40;
    color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.modification {
    color: #c1d320;
}

.first-par-footer {
    display: flex;
    gap: 10px;
}



@media (max-width: 768px) {
    header nav {
        height: auto;
    }

    #menu {
        display: block;
    }

    .menu li {
        text-align: end;
        margin: 7px 10px 7px 0;
        display: flex;
        flex-direction: column;
    }

    .page-title {
        height: auto;
        padding: 10px 0;
    }

    .page-title img {
        margin: 0 10px;
    }

    .menu {
        grid-template-columns: 1fr;
        text-align: end;
        flex-direction: column;
        display: none;
        align-items: flex-end;
    }

    .menu a {
        width: auto;
        text-align: end;
        margin: 5px 20px;
    }

    main {
        flex-direction: column;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .first-pag {
        flex-direction: column;
    }

    .my-country {
        margin-top: 30px;
        width: 100%;
    }

    .certificate-section {
        height: auto;
    }

    .second-pag .title {
        height: auto;
        padding: 5px 0;
    }

    .second-part-courses {
        margin: 15px 0;
        grid-template-columns: 1fr;
        height: auto;
        gap: 10px;
    }

    footer {
        height: auto;
        text-align: center;
        font-size: 1.3rem;
        padding: 20px 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .menu {
        grid-template-columns: 1fr 1fr;
    }

    main {
        flex-direction: column;
    }

    .about-me {
        width: 80%;
    }

    .my-country {
        flex-direction: column;
    }

    .web-resources {
        width: 80%;
    }
}